body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-text {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated-text span {
  color: #2E8B57;
  font-weight: bold;
}

header {
  background-color: #2E8B57;
  color: #fff;
  padding: 20px;
  text-align: center;
  animation: slideIn 0.5s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #8FBC8F;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

footer {
  background-color: #2E8B57;
  color: #fff;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CONTATO */

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select,
input[type="file"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h1 {
  margin: 0;
}

/* Estilos do conteúdo principal */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #333;
}

p {
  line-height: 1.6;
}

.image-container {
  margin-top: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 40px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  border-radius: 5px;
}

section h2 {
  margin-bottom: 20px;
  color: #333;
}

section p {
  line-height: 1.5;
  color: #555;
}

/* Estilos para as imagens dentro das seções */
section img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}